[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
djongo = "*"
celery = "==4.1.1"

[requires]
python_version = "3.6"
